.profile {

    margin-top: 2em;

    .experiencesSection, .educationSection, .aboutSection,.skillsSection {
        background-color: #EBF6FF;
        margin: 1vh 15vw;
        border-radius: 5px;
        margin-bottom: 2em;
        border: 1px solid lightgray;
    }

    .aboutSection {
        margin-bottom: 2em;
        border-radius: 0;
        background-color: #003D7A;
        color: white;
    }

    .experience,.education {
        padding: 0 4em;

        .row div {
            padding-left: 0 !important;
        }

        &:first-of-type {
            padding-top: 1vh;
        }

        &:last-child {
            padding-bottom: 0.5vh;
        }

        &:not(:last-child):after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 90%;
            border-bottom: 1px solid lightgray;
        }
    }

    .header {

        display: grid;
        grid-template-columns: 15% auto 15%;
        grid-column-gap: 5px;
        justify-items: center;

        h2:first-child, div:first-child { 
            grid-column-start: 2; 
        }

        h2:last-child, div:last-child { 
            margin-bottom: auto;
        }

        h2 {
            align-self: center;
        }

        i {
            font-size: 24px;
            cursor: pointer;
        }
    }

    i {
        font-size: 20px;
        cursor: pointer;
    }

    @media only screen and (max-width: 600px) {

        margin-top: 0em;

        .experiencesSection, .educationSection, .aboutSection, .skillsSection {
            margin: 4vh 2vh;
        }

        .experience, .education {
            padding: 0 1em;
        }
    }

}

.center-modal {
    display: flex !important;
    align-items: center;

    .modal-dialog {
        max-width: 800px !important;
        width: 700px;
    }
}